{% extends "base" %}

{% block content %}
  <!-- todo include -->
  <form action="/search" method="get">
    <input type="text" name="q" value="{{ params.q }}" style="width: 50%;"/>
    <input type="submit" value="Искать"/>
  </form>
  <p>Total: {{ images.total }}</p>

  {% for i in images.images %}
    <div class="thumb">
      <span>{{ i.faves }} / [{{ i.upvotes }} {{ i.score }} {{ i.downvotes }}]</span>
      <a href="{{ i.representations.large }}" target="_blank" title="{{ i.title }}">
        {% if i.mime_type == "video/webm" %}
          <video src="{{ i.representations.thumb }}" autoplay muted loop></video>
        {% else %}
          <img alt="{{ i.title }}" src="{{ i.representations.thumb }}"/>
        {% endif %}
      </a>
    <!-- в теории данные все есть, так что упаковываем в json и на статическую страницу! -->
    </div>
  {% endfor %}
  //todo pagination
  {{ images.total / 25 }}

<a href="/search?q=first_seen_at.gt:3 days ago&sf=wilson_score&sd=desc">3 ddd</a>

  <form action="/search" method="get">
    <input type="text" name="q" value="{{ params.q }}" style="width: 50%;"/>
    <select name="sd" autocomplete="off">
      {% for i in sd %}
        <option value="{{ i.0 }}"{% if i.0 == params.sd %} selected{% endif %}>{{ i.1 }}</option>
      {% endfor %}
    </select>
    <input type="text" name="sf" value="{{ params.sf }}"/>
    <input type="text" name="page" value="{{ params.page + 1 }}"/>
    <input type="submit" value="page + 1"/>
  </form>
{% endblock content %}

